#default-sidebar::-webkit-scrollbar {
  width: 6px; /* largura da barra de rolagem */
}

#default-sidebar::-webkit-scrollbar-track {
  background: transparent; /* fundo do trilho da barra */
}

#default-sidebar::-webkit-scrollbar-thumb {
  background-color: #a0aec0; /* cor da barra de rolagem */
  border-radius: 3px; /* arredondamento para um visual clean */
}

#default-sidebar::-webkit-scrollbar-thumb:hover {
  background-color: #718096; /* cor da barra ao passar o mouse */
}
