<div class="w-64 pt-28 bg-ceu130 text-white flex flex-col p-4 h-screen fixed">
  <!-- Botão Novo Chat -->
  <button class="btn bg-primary90 text-grayscale10 w-full mb-4">
    + Novo Chat
  </button>

  <!-- Lista de Chats -->
  <app-chat-history></app-chat-history>

  <!-- Links de Navegação -->
  <div class="mt-auto flex flex-col gap-2">
    <a
      href="#"
      class="flex items-center p-2 rounded-lg hover:bg-primary-content"
    >
      <span class="flex-1">Agente de refinamentos (RTC)</span>
    </a>

    <app-chat-config> </app-chat-config>

    <app-chat-help></app-chat-help>

    <a
      href="#"
      class="flex items-center p-2 rounded-lg hover:bg-primary-content"
    >
      <span class="flex-1">Logout</span>
    </a>
  </div>
</div>
