<div class="w-64 pt-28 bg-ceu130 text-white flex flex-col p-4 h-screen fixed">
  <!-- Botão Novo Chat -->
  <button class="btn bg-primary90 text-grayscale10 w-full mb-4">
    + Novo Chat
  </button>

  <!-- Lista de Chats -->
  <div>
    <ul class="flex flex-col gap-2">
      <li
        class="flex items-center p-2 bg-primary-focus rounded-lg cursor-pointer hover:bg-primary-content"
      >
        <span class="flex-1">AI Chat Tool Ethics</span>
      </li>
      <li
        class="flex items-center p-2 bg-primary-focus rounded-lg cursor-pointer hover:bg-primary-content"
      >
        <span class="flex-1">AI Chat Tool Ethics</span>
      </li>
      <li
        class="flex items-center p-2 bg-primary-focus rounded-lg cursor-pointer hover:bg-primary-content"
      >
        <span class="flex-1">AI Chat Tool Ethics</span>
      </li>
    </ul>
  </div>

  <!-- Links de Navegação -->
  <div class="mt-auto flex flex-col gap-2">
    <a
      href="#"
      class="flex items-center p-2 rounded-lg hover:bg-primary-content"
    >
      <span class="flex-1">Agente de refinamentos (RTC)</span>
    </a>
    <a
      href="#"
      class="flex items-center p-2 rounded-lg hover:bg-primary-content"
    >
      <span class="flex-1">Parâmetros</span>
    </a>
    <a
      href="#"
      class="flex items-center p-2 rounded-lg hover:bg-primary-content"
    >
      <span class="flex-1">Ajuda</span>
    </a>
    <a
      href="#"
      class="flex items-center p-2 rounded-lg hover:bg-primary-content"
    >
      <span class="flex-1">Logout</span>
    </a>
  </div>
</div>
