<div class="chat-history">
  <div class="chat-history__sent">
    <div class="chat-history__line"></div>
    <div class="chat-history__line short mt-2"></div>
  </div>
  <div class="chat-history__received">
    <div class="chat-history__line"></div>
    <div class="chat-history__line mt-2"></div>
    <div class="chat-history__line mt-2"></div>
    <div class="chat-history__line mt-2"></div>
    <div class="chat-history__line mt-2"></div>
    <div class="chat-history__line short mt-2"></div>
  </div>
</div>